.button-container {
  position: absolute;
  bottom: 6%;
  right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 4;
}

.start-game-button {
  background-color: #ededed;
  color: #4caf50;
  border: 1px solid #4caf50;
}
.start-game-button:hover {
  background-color: #4caf50;
  color: #ededed;
  border: 1px solid #4caf50;
}

.auto-play-button {
  background-color: black;
  color: #4caf50;
  border: 1px solid #ededed;
}
.auto-play-button:hover {
  background-color: #4caf50;
  color: black;
  border: 1px solid #4caf50;
}

.start-game-button,
.auto-play-button {
  width: 45%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 5px;
  padding: 6px 14px;
  margin: 1%;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-game-button.disabled,
.auto-play-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .start-game-button,
  .auto-play-button {
    min-width: 80px;
    max-width: 160px;
  }
}
