.instruction-container .instructions {
  list-style-type: none; /* remove bullet points */
  list-style-image: url("./../icons/snake-16.png");
  background-size: cover; /* scale the image to fit the element */
  display: none;
  position: absolute;
  width: 55%;
  bottom: 21%;
  right: -100%;
  max-height: 50%;
  overflow: auto;
  color: #4caf50;
  background-color: #ededed;
  border: 1px solid #4caf50;
  border-radius: 5px;
  z-index: 4;
}

.instruction-container .instruction-icon {
  position: absolute;
  bottom: 15%;
  right: 2%;
  cursor: pointer;
  z-index: 4;
}

.instruction-container .instructions.show {
  display: block;
  right: 2%;
  animation: fadeIn 1s ease-out;
}

.instruction-container .instructions.show li {
  padding: 6px 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .instruction-container .instructions {
    bottom: 25%;
  }

  .instruction-container .instruction-icon {
    bottom: 18%;
  }
}

@media only screen and (max-width: 700px) {
  .instruction-container {
    display: none;
  }
}
