.score-container {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 10%;
  font-weight: 600;
  padding: 3px 8px 10px 8px;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #4caf50;
  background-color: #ededed;
}

.score-container p {
  font-size: 1.25em;
  font-weight: bold;
}

.score-container div {
  padding: 1% 0%;
}

@media only screen and (max-width: 1000px) {
  .score-container {
    width: 15%;
  }
}

@media only screen and (max-width: 700px) {
  .score-container {
    display: none;
  }
}
